<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos invalidos</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="center-align">Iniciar sesion de nuevo, gracias</h1>

        <div class="center-align">
            <a href="/" class="waves-effect waves-light btn-large left-align">
                <i class="material-icons left">arrow_back</i>Regresar a login
            </a>
            
            <a href="/registro" class="waves-effect waves-light btn-large right-align">
                <i class="material-icons right">add</i>Registrarse
            </a>
        </div>
    </div>
</body>
</html>